.Parameter {
  display: flex;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

p {
  color: white;
  font-family: 'Turret Road', cursive;
  font-size: 30px;
  margin-right: 15px;
  margin-top: 0px;
  margin-bottom: 0px;
}

#error {
  padding: 0px;
  margin-top: 0px;
  text-align: center;
  color: red;
  font-size: small;
}

input {
  width: 350px;
  height: 30px;
  font-family: 'Turret Road', cursive;
  text-transform: uppercase;
  font-size: 40px;
  margin-top: 0px;
  margin-bottom: 0px;
}

#gender p {
  margin-right: 30px;
}