@mixin none_event {
  color: aquamarine;
  font-size: xx-large;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

@mixin standard_margins_n_transition {
  margin-right: 5px;
  margin-left: 0px;
  margin-bottom: 22px;
  transition: 500ms;
}

button {
  border: none;
  background-color: black;
  color: white;
  font-family: 'Turret Road', cursive;
}

#userButtonDiv {
  width: 100%;
}

#none {
  font-size: large;
  @include standard_margins_n_transition;
  transition: 200ms;

  &:hover {
    @include none_event;
  }

  &:focus {
    @include none_event;
  }

  &:visited {
    @include none_event;
  }

  :active {
    color: red;
  }
}

#user {
  font-size: xx-large;
  width: 100%;
  margin-top: 6px;
  transition: 200ms;
  color: black;
  background-color: white;
  border-radius: 5px;

  &:hover {
    color: white;
    background-color: #2c2c2d;
  }
}

#search {
  font-size: 51px;
  @include standard_margins_n_transition;

  &:hover {
    color: red;
    margin-bottom: 10px;
  }
}

#gender {
  font-size: 30px;
  @include standard_margins_n_transition;
  color: lightslategrey;

  &:hover {
    color: greenyellow;
  }
}

#submit {
  font-size: 100px;
  @include standard_margins_n_transition;

  &:hover {
    color: black;
    background-color: white;
  }
}