.User {
  width: 50%;
  height: 230px;
  margin-left: 25%;
  margin-right: 25%;
  border: solid white;
  border-radius: 10px;
  transition: 300ms;

  &:hover {
    border: solid black;
    background-color: #2c2c2d;
  }
}

p {
  margin-left: 5px;
}

.attribute {
  font-size: larger;
  font-style: italic;
  margin-left: 20%;

}

#EDITnDELETE {
  display: flex;
  justify-content: center;
  width: 100%;
}